:root{
    --dark-color:#daa592;
    --light-color:#aeeff0;
    --darkk-color:#f0e3c4;
    --lightt-color:#f1f0d1;
}
html{
    font-family: 'IBM Plex Serif', serif;
}
body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-container{
    background: linear-gradient(to right bottom, var(--dark-color),var(--light-color));
    height: 450px;
}
.top-wrapper{
    width: 600px;
    height:450px;
    margin:0 auto;
    position:relative;
    text-align: center;
}
.cloud{
    position: absolute;
}
.mountain{
    position:absolute;
    left:0;
    bottom: 0;
}
.cloud1{
    left:10%;
    top:20%;
}
.cloud2{
    right:15%;
    top:7%;
}
h1{
    font-family: 'Caveat', cursive;  
}
.underline{
    text-decoration: underline;
}
.middle-container{
    width: 800px;
    margin: 2rem auto;
    border:1px solid red;
}

.profile{
    width:800px;
    margin:2rem auto;
    text-align: center;
}
.profile_image{
    
    width:100px;
}
h2{
    font-family: 'Caveat', cursive; 
}

.skills img{
    width: 100px;
    
}
.img-skill1{
    float: left;
    margin-right:2rem;
    margin-top:55px;
    
}
.img-skill2{
    float: right;
    margin-left:2rem;
    margin-top:50px;
    
}